.container {
  display: flex;
  justify-content: center;
}

.discovery-container {
  margin-top: 6.4rem;
  justify-content: center;

  .top-repo {
    .repo-list {
      height: 18rem;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      overflow-x: scroll;
      overflow-y: visible;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}
