// Inspired at https://codepen.io/grardovr/pen/jObWZQq

.loading-repositories {
  height: 12rem;
  color: rgba(0, 0, 0, 0.6);
}

.scroll-element {
  position: relative;
  margin-top: 0 !important;

  .repo-list-arrow-left,
  .repo-list-arrow-right {
    top: 2rem;
    position: absolute;
    height: 12rem;
    min-width: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    padding: 0;
    border-radius: 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.8);
  }

  .repo-list-arrow-right:hover,
  .repo-list-arrow-left:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .repo-list-arrow-left {
    left: 0;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }

  .repo-list-arrow-right {
    right: 0;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
}

.repo-list {
  height: 16rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  overflow-x: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;
}

.repo-list-container {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;

  .repo-container {
    width: 100%;
    height: 12rem;

    .repo-item:not(:last-child) {
      margin-right: 0.6rem;
    }

    .repo-item {
      height: 100%;
      border-radius: 0.2rem;
      transition: transform 500ms;
      border: 0.1rem solid lightgray;
      cursor: pointer;
      position: relative;

      .name,
      .details {
        transition: opacity 300ms;
        opacity: 0;
        position: absolute;
        left: 0.3rem;
        color: white;
        padding: 0.1rem 0.4rem;
        text-transform: capitalize;
      }

      img {
        width: 15rem;
        height: 100%;
        object-fit: cover;
      }

      .bookmark {
        transition: opacity 300ms;
        opacity: 0;
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        background: none;
        z-index: 3;
        min-width: auto;
        padding: 0;
      }

      .name {
        bottom: 0.3rem;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .details {
        top: 0.3rem;
        color: black;
      }
    }

    .repo-item:focus ~ .repo-item,
    .repo-item:hover ~ .repo-item {
      transform: translateX(10%);
    }
  }

  .repo-container:focus-within .repo-item,
  .repo-container:hover .repo-item {
    transform: translateX(-10%);
  }

  .repo-container .repo-item:focus,
  .repo-container .repo-item:hover {
    transform: scale(1.2);
    z-index: 100;

    .name,
    .bookmark,
    .details {
      transition: opacity 500ms linear 300ms;
      opacity: 1;
    }
  }
}
